.christmas-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
}

.christmas-text {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: Georgia, serif;
  color: white;
  text-shadow: 0 0 14px red;
}
